Repository terra-money/classic-core, pull requests merged in 2021-07, with the labels that each got.

#510 Support Content-Type preflight requests to rest server when using --unsafe-cors flag
  client/lcd/root.go
Labels: client, enhancement

#509 [Bump] cosmwasm to v0.15.0
  CHANGELOG.md
  Dockerfile
  app/app.go
  custom/bank/wasm/interface.go
  custom/gov/wasm/interface.go
  custom/gov/wasm/interface_test.go
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/terra/wasm/v1beta1/wasm.proto
  x/market/legacy/v05/migrate_test.go
  x/oracle/legacy/v05/migrate_test.go
  x/treasury/legacy/v05/migrate_test.go
  x/wasm/keeper/api.go
  x/wasm/keeper/connector.go
  x/wasm/keeper/contract.go
  x/wasm/keeper/contract_test.go
  x/wasm/keeper/msg_server_test.go
  x/wasm/keeper/params.go
  x/wasm/keeper/recursive_test.go
  x/wasm/keeper/reflect_test.go
  x/wasm/keeper/submsg_test.go
  x/wasm/keeper/test_utils.go
  x/wasm/keeper/testdata/bindings_tester.wasm
  x/wasm/keeper/testdata/burner.wasm
  x/wasm/keeper/testdata/hackatom.wasm
  x/wasm/keeper/testdata/hackatom.wasm.gzip
  x/wasm/keeper/testdata/maker.wasm
  x/wasm/keeper/testdata/reflect.wasm
  x/wasm/keeper/testdata/staking.wasm
  x/wasm/keeper/wasm_interface.go
  x/wasm/legacy/v05/migrate.go
  x/wasm/legacy/v05/migrate_test.go
  x/wasm/simulation/genesis.go
  x/wasm/simulation/operations.go
  x/wasm/simulation/params.go
  x/wasm/simulation/test_contract.go
  x/wasm/spec/01_events.md
  x/wasm/types/connector.go
  x/wasm/types/connector_test.go
  x/wasm/types/errors.go
  x/wasm/types/events.go
  x/wasm/types/gas_meter.go
  x/wasm/types/msg_binding.go
  x/wasm/types/params.go
  x/wasm/types/wasm.pb.go
  x/wasm/types/wasmer_engine.go
Labels: columbus-5, proto-breacking, wasm

#517 remove unused sorted check
  x/oracle/tally.go
  x/oracle/types/ballot.go
Labels: columbus-5, enhancement

#520 [Feature] contract info query wasm interface
  x/wasm/keeper/custom_test.go
  x/wasm/keeper/testdata/bindings_tester.wasm
  x/wasm/keeper/wasm_interface.go
  x/wasm/keeper/wasm_interface_test.go
Labels: columbus-5, enhancement, wasm
